<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MIB_Browser.mibbrowser" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MIB_Browser.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MIB_Browser.Properties.mibbrowser" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MIB_Browser.mibbrowser>
            <setting name="AgentIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Community" serializeAs="String">
                <value>public</value>
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>2000</value>
            </setting>
        </MIB_Browser.mibbrowser>
        <MIB_Browser.Settings1>
            <setting name="AgentIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Community" serializeAs="String">
                <value>public</value>
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>2000</value>
            </setting>
        </MIB_Browser.Settings1>
    </applicationSettings>
    <userSettings>
        <MIB_Browser.Properties.mibbrowser>
            <setting name="AgentIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Community" serializeAs="String">
                <value>public</value>
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="MaxRepetitions" serializeAs="String">
                <value>10</value>
            </setting>
        </MIB_Browser.Properties.mibbrowser>
    </userSettings>
</configuration>